@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SOSDelivery</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Project</h2>
        <p>
            SSOS Delivery is a company that provides fast service for delivering food. SOS delivery provides different restraunt optionsof your choice of food to deliver.
        </p>
    </div>
    
</div>